/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
  --main-color:#5D5DFF;
}

body{
    background: rgb(26, 25, 25);
    font-family: 'Roboto', sans-serif;;
}


/* Header */
nav{
    display: flex;
    /* text-align: center; */
    align-items: center;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* align-content: space-between; */
    /* background: yellow; */
    padding: 10px 40px;
    justify-content: space-between;
}

.logo img{
    width: 60px;
}

.menu ul{
    display: inline-flex;
}

.menu ul li{
    list-style: none;
    margin-left: 20px;
    padding: 5px 10px;
}

.signUP{
    background: var(--main-color);
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* Main Section  */
main{
    width: 90%;
    margin: auto;
    text-align: center;
    color: white;
}

/* Section */
section{
    margin-top: 50px;
}

/* Section Title */
.section-title h2{
    font-size: 40px;
    padding: 20px 0px;
}
.section-title p{
    padding: 0 20%;
}
/* Hero Section */
.hero-buttons ul{
    list-style: none;
    padding: 30px 0px;
}
.hero-buttons ul li{
    display: inline-block;
    background: var(--main-color);
    padding: 10px 35px;
}
.hero-buttons ul li a{
    color: white;
    text-decoration: none;
}
/* Features */

.features ul{
    list-style: none;
}
.features ul li{
    display: inline-block;
    /* background: #777; */
    padding: 20px;
    width: 25%;
    margin: 10px;
}
.features ul li i{
    font-size: 42px;
    background: var(--main-color);
    padding: 10px;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
}
.features ul li h4{
    padding: 15px 0px;
    font-size: 17px;
}

/* Product & solutions  */
.singel-solution{
    display: flex;
    margin-top: 50px;
}
.singel-solution .left-side{
    width: 50%;
    text-align: left;
    padding: 5px 20px;
}
.singel-solution .left-side p:first-child{
    color: var(--main-color);
}
.singel-solution .left-side h3{
    font-size: 29px;
}
.singel-solution .left-side p{
    padding: 10px 0px;
}
.singel-solution .left-side ul li{
    list-style: square;
}
.singel-solution .right-side{
    width: 50%;
}
.singel-solution .right-side img{
    width: 100%;
    padding: 25px;
    height: 250px;
}

/* Testimonials  */
.testimonials{
    display: flex;
    width: 100%;
    margin-top: 40px;
}
.singel-testimonial{
    margin: 10px;
    text-align: left;
    padding: 25px;
}
.singel-testimonial img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid var(--main-color);
}
.tes-img-dot{
    position: relative;
}
.tes-img-dot::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    top: 0px;
    left: 60px;
    background-color: var(--main-color);
}
.singel-testimonial p{
    padding: 25px 0px;
}
.singel-testimonial strong a{
    text-decoration: none;
    color: var(--main-color);
}